/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/

# Archivos de Visual Studio / Code
.vscode/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Archivos temporales de sistema
.DS_Store
Thumbs.db